h1 { 
    color: purple;
    background: cornsilk;
    margin: 30px;
    font-size: 16pt;
}
h2 { 
    color: purple;
    background: cornsilk;
    margin: 30px;
}
ul {
    border: 3px solid blueviolet;
    background: cornsilk;
    margin: 40px;
}
h3 {
    border: 3px solid blueviolet;
    background: cornsilk;
    margin: 20px;
}

ol {
    border: 3px solid blueviolet;
    background: cornsilk;
    margin: 20px;
}

ol li {
    list-style: decimal
}